body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fde6d9;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #14417d;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-wrapper {
    border: 4px solid transparent;
    padding: 5px;
    cursor: pointer;
    transition: border 0.2s;
}

.image-wrapper.selected {
    border-color: #14417d;
    border-width: 6px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 5px;
    border-color: #14417d;
    background-color: #fde6d9;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #14417d;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #14417d;
    color: #fde6d9;
}

input {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #14417d;
    height: 20px;
    appearance: none;
    font-family: "Special Gothic Expanded One", sans-serif;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 5px;
    border-color: #14417d;
    background-color: #fde5d9;
}